@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <h2>Acme Bank</h2>
    </div>
    <partial name="login" />
    <p>
        <a href="~/home/dbreset">Reset Database</a>
    </p>
</div>